{% extends 'bakerapp/base.html' %}
{% load static %}

{% block content %}
      
    <div class="container-fluid">
        <div class="row">
            <div class="col-md welcomeClass">
                <h1 class="text-center text-light display-4">Welcome to</h1>
                <h1 class="text-center text-light display-4 font-weight-bold">Wyethbaker Nigeria Limited</h1>
                <p class="text-center text-light ptxtClass">        <span class="bg-dark p-2">
                        We are tweaking a few things. Use the contact form or come back soon!
                    </span>
                </p>
            </div>
        </div>
    </div>

    {% endblock %}