body {
    background-image: url("/static/img/wyethbak_bg_2.606f73775838.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.Navbg-deepOrange {
    background-color: #ff6600;    
}

.navbar-txt {
    color: #000;
}

#navbartxt a {
    color: #000;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.welcomeClass {
    margin: 250px auto;
    width: 50%;
    height: 50%;
}

.ptxtClass {
    font-stretch: semi-expanded;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

.logoImg {
  width: 40%
  height: auto;
}
@media screen and (max-width: 1700px) {
  .logoImg {
    width: 40%;
    padding-right: 50px;
    cursor: pointer;
  }
}

@media screen and (max-width: 480px) {
  .logoImg {
    width: 100%;
  }
}

@media screen and (max-width: 680px) {
  .logoImg {
    width: 80%;
  }
}